.popularUniversity__bg{
    background-image: url("/assets/images/university_bg.png");
    background-position: cover cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}